<!-- tmpl_include name="header.tmpl" -->

<p>
Account Enabled
</p>

<p>
<!-- tmpl_var name="msg1" -->
</p>

<!-- tmpl_include name="inc_loginform.tmpl" -->

<br />
<br />

<!-- tmpl_include name="footer.tmpl" -->
