</div> <!-- close id=sitewide -->
<br />
<div id="footermenu">
 
<p>
<a title="Site description" href="<!-- tmpl_var name="cgi_app" -->/article/about">about</a>
 - <a title="Site help" href="<!-- tmpl_var name="cgi_app" -->/article/help">help</a>
</p>

<p>
&copy; 2013 <a href="<!-- tmpl_var name="home_page" -->"><strong><!-- tmpl_var name="site_name" --></strong></a> - <!-- tmpl_var name="site_description" -->
<br />
Powered by Kinglet.
</p>

<p>
current date: <!-- tmpl_var name="serverdatetime" -->
</p>
</div>

</section>

<script src="https://code.jquery.com/jquery-1.9.1.js"></script> 
<script src="https://soupmode.com/javascript/jquery.meanmenu.min.js"></script> 
<script>
jQuery(document).ready(function () {
    jQuery('header nav').meanmenu();
});
</script>
<script src="https://soupmode.com/javascript/minified.js"></script>
<script src="https://soupmode.com/javascript/message.js"></script>

</body>
</html>

