<!-- tmpl_include name="header.tmpl" -->
<audio id="audiotag1" src="https://soupmode.com/css/elevator-ding.mp3" preload="auto"></audio>
<div id="new_message_count"></div> 
<!-- tmpl_include name="inc_streamloop.tmpl" -->
<!-- tmpl_include name="footer.tmpl" -->
