<p>
Lost Password?
</p>

<p>
If you have already signed-up, enter your username and e-mail address
and a new password will be e-mailed to you. You can change the password after you login.
</p>

<p>
<form action="<!-- tmpl_var name="cgi_app" -->/newpassword" method="post">

<p>
<label for="username">Username:</label> <br />
<input type="text" id="username" name="username" maxlength="30"/>
</p>

<p>
<label for="email"> E-mail:</label> <br />
<input type="text" id="email" name="email" maxlength="50"/>
</p>

<p>
<label for="blank"> </label>
<input class="submitbutton" id="submit" type="submit" value="Mail me a new password" />
</p> 

</form>
</p>

