<!-- Script by hscripts.com -->
<script language=javascript>
//Edit the counter/limiter value as your wish
var count = "300";   // max chars
function limiter(){
var tex = document.myform.message_text.value;
var len = tex.length;
if(len > count){
        // jr commented out this line: tex = tex.substring(0,count);
        document.myform.message_text.value =tex;
        document.myform.limit.value = count-len; // jr added line
        return false;
}
document.myform.limit.value = count-len;
}
</script>

<p>
<form name="myform" onkeyup=limiter() id="parulaform" method="post" action="<!-- tmpl_var name="cgi_app" -->/<!-- tmpl_var name="post_action" -->">
<!-- tmpl_if reply_post -->
<input type="hidden" name="reply_to_content_digest" value="<!-- tmpl_var name="reply_to_content_digest" -->" >
<input type="hidden" name="reply_to_id" value="<!-- tmpl_var name="reply_to_id" -->" >
<!-- /tmpl_if -->
<textarea id="messagetextareabox" name="message_text" rows="5" cols="50" wrap="virtual" autofocus><!-- tmpl_var name="message_text" --></textarea>
<br>
<input class="submitbutton" type="submit" name="sb" value="Post (300 chars max)">
<script language=javascript>
document.write("<input type=text name=limit size=4 readonly value="+count+">");
</script>
</form>
</p>

<p>
:) <img src="/images/smileys/smile.png">
&nbsp;&nbsp;
:)) <img src="/images/smileys/biggrin.png">
&nbsp;&nbsp;
:))) <img src="/images/smileys/dance.gif">
&nbsp;&nbsp;
;) <img src="/images/smileys/wink.png">
&nbsp;&nbsp;
8) <img src="/images/smileys/cool.png">
&nbsp;&nbsp;
<br />

:o <img src="/images/smileys/eek.png">
&nbsp;&nbsp;
:( <img src="/images/smileys/frown.png">
&nbsp;&nbsp;
:'( <img src="/images/smileys/cry.gif">
&nbsp;&nbsp;
x( <img src="/images/smileys/mad.png">
&nbsp;&nbsp;
x(( <img src="/images/smileys/banghead.gif">
&nbsp;&nbsp;
<br />

x((( <img src="/images/smileys/stomp.gif">
&nbsp;&nbsp;
x(((( <img src="/images/smileys/furious.gif">
&nbsp;&nbsp;
|) <img src="/images/smileys/sleep.gif">
&nbsp;&nbsp;
!)! <img src="/images/smileys/help.gif">
</p>

