<!-- tmpl_include name="header.tmpl" -->

<h1>New Password Creation</h1>

<p>
A new password has been created and sent to the e-mail address stored in the system.
</p>

<!-- tmpl_include name="footer.tmpl" -->
