<!-- tmpl_include name="header.tmpl" -->

<p>
Account Creation For: <!-- tmpl_var name="newusername" -->
</p>

<p>
Your account has been created, but it's not active yet.
</p>

<p>
An e-mail has been sent to you, which contains the URL to activate your account.
</p>

<p>
Click on the URL or copy it into your browser.
</p>

<p>
Once your account is enabled, you can login and create content.
</p>

<p>
If you do not receive the account activiation e-mail message, send an e-mail to <!-- tmpl_var name="admin_email" --> and list the username you used to create your account, and your account will be manually activiated by the site administrator. Sometimes the account activation e-mail message lands in a user's SPAM or JUNK mail folder, so the user does not activiate the account.
</p>

<!-- tmpl_include name="footer.tmpl" -->
