<!-- tmpl_include name="header.tmpl" -->
<p>
Reply to: <a href="/replies/<!-- tmpl_var name="reply_to_id" -->"><!-- tmpl_var name="reply_to_message" --></a>
</p>
<!-- tmpl_include name="inc_postform.tmpl" -->
<!-- tmpl_include name="footer.tmpl" -->
