<div id="footermenu">
<ul>
<li><a title="Site description" href="<!-- tmpl_var name="cgi_app" -->/article/about">about</a></li> 
<li><a title="Site help" href="<!-- tmpl_var name="cgi_app" -->/article/help">help</a></li> 
<!-- <li><a title="Search" href="<!-- tmpl_var name="cgi_app" -->/searchform">search</a></li> -->
</ul>
 
<p>
&copy; 2013 <a href="<!-- tmpl_var name="home_page" -->"><strong><!-- tmpl_var name="site_name" --></strong></a> - <!-- tmpl_var name="site_description" -->
<br />
Powered by Kinglet.
</p>

<p>
current date: <!-- tmpl_var name="serverdatetime" -->
</p>

</div>

</body>
</html>
