<!-- tmpl_include name="header.tmpl" -->
<!-- tmpl_include name="inc_messagepost.tmpl" -->
<p>
<strong>Replies: <!-- tmpl_var name="reply_count_header" --></strong>
</p>
<!-- tmpl_include name="inc_replyloop.tmpl" -->
<!-- tmpl_include name="footer.tmpl" -->
