<!-- tmpl_include name="header.tmpl" -->
<p>
Your request to be added to a <strong><!-- tmpl_var name="recipient_user_name" -->'s</strong> approved user list has been sumbitted.
</p>

<p>
When <strong><!-- tmpl_var name="recipient_user_name" --></strong> has either approved or rejected your request, you will receive the response in the form of a message.
</p>
<!-- tmpl_include name="footer.tmpl" -->
