<!-- tmpl_include name="header.tmpl" -->

<p>
<strong>User Profile for "<!-- tmpl_var name="profileusername" -->"</strong>
</p>

<!-- tmpl_if deleteduser -->
<p>
<span style="color: #c00">User account deactivated</span>
</p>
<!-- /tmpl_if -->

<!-- tmpl_if ownerloggedin -->
<div id="loggedinuserinfo">
<p>
<!-- Items only visible to you when you're logged in. -->
<a href="<!-- tmpl_var name="cgi_app" -->/settings">Change your password, e-mail address, or description info</a>
</p>

<p>
<a href="<!-- tmpl_var name="cgi_app" -->/requestsreceived">Approval requests received</a>
</p>

<p>
<small>In order to message another user, you need to request permission to be added to the user's approved list.</small>
</p>

<p>
<form method="post" action="/requestapproval">
username: <input type="text" size="15" name="recipient" value="">
<input class="submitbutton" type="submit" name="sb" value="Request approval">
</form>
</p>

</div>
<!-- /tmpl_if -->

<p>
<!-- tmpl_var name="descformat" -->
</p>

<!-- tmpl_include name="footer.tmpl" -->
